<!DOCTYPE html>
<html>

<head>
  <meta property="og:title" content="Octibom" />
  <meta property="og:type" content="Helper Web App" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Octibom</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="icon" type="image/png" href="https://img.icons8.com/color-glass/48/000000/water-element.png" />
  <style>
    .box {
      background-color: rgb(220, 220, 220);
    }
  </style>
</head>

<body>
  {% block content %} {% endblock %}
</body>

</html>