{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="columns ">
    <div class="containerforimage column is-one-third" >
    <img src="{{data.list_of_urls[0]}}" alt="First Image"/>
    </div>
    <div class="column">
      <p ><b>{{data['name']}} </b></p>
      <p><i>SKU : {{data['sku']}}</i></p>
      <br />
      <p style="font-size: 10px" id="txtbox1">{{data['description']|safe}}</p>
    </div>
  </div>
  <div id="occasions">
    {% for i in range(4) %}
    <div class="columns">
      <div class="column">
        <input class="input" type="text" value="" id={{i}} />
      </div>
      <div class="column">
        <select class="select" name="cars" onchange="function{{i}}(event)">
          {% for occasions in data['total_occasions'] %}
          <option value="{{occasions|safe}}">{{occasions}}</option>
          {% endfor %}

        </select>
      </div>
      <div class="column">
        <button class="button" onclick="clearingfields{{i}}();">Clear</button>
      </div>
      <div class="column">
        <button class="button" onclick="addgreenDiv()"> Start</button>
      </div>
      <div class="column" id="green">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="columns">
    <div class="column">{{data['source']|safe}}</div>
    <div class="column">
      <a href="../done_listing/{{data['sku']}}">Done</a>
      <br>
      <a href="../get_listing">New Listing</a>
      <br>
      <a href="../issue/{{data['sku']}}">Manual Issue</a>
      <br>
      <a href="../notlisted/{{data['sku']}}">Mark As not Listed</a>
    </div>
  </div>

  </div>

  <script>
    const occasionsList = {{ data.occasions_present| tojson}}
    const textareaElements = document.getElementsByTagName("textarea");
    textareaElements[0].classList.add(["textarea"], ["is-normal"]);
    textareaElements[0].setAttribute("rows", "15");
    {% for i in range(4) %}
    const function{{i}} = function(e) {
      document.getElementById({{ i }}).value = e.target.value
      sorter()
      }
    const clearingfields{{ i }} = function() {
      document.getElementById({{ i }}).value = ""
      sorter()
      }


    {% endfor %}
    for (let index = 0; index < occasionsList.length; index++) {
      const element = occasionsList[index];
      document.getElementById(index).value = element

    }
    const addgreenDiv = function () {
      document.getElementById('green').innerHTML = `<div style="background-color: green; ">.</div>
    <div style="background-color: blue; ">.</div>`
    }
  const sorter =() => {
  const frag = document.createDocumentFragment();
  const list = document.getElementById('occasions')
  const items = list.querySelectorAll(".columns");
  const sortedList = Array.from(items).sort(function(a, b) {
    const c = a.querySelector('.input').value, d = b.querySelector('.input').value;
    return c < d ? 1 : c > d ? -1 : 0;
  });a
  console.table(sortedList)
  for (let item of sortedList) {
    frag.appendChild(item);
  }

  list.appendChild(frag);
}
  </script>
  {%endblock%}
</div>