{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="columns">
    <img class="column is-one-third" src="{{data.list_of_urls[0]}}" alt="First Image" width="100" height="100" />
    <br />
    <div class="column">
      <p><b>{{data['name']}} </b></p>
      <p><i>SKU : {{data['sku']}}</i></p>
      <br />
      <p style="font-size: 12px" id="txtbox1">{{data['description']|safe}}</p>
    </div>
  </div>
  <div class="columns">
    <div class="column">{{data['source']|safe}}</div>
    <div class="column"><a href="../done_listing/{{data['sku']}}">Done</a>
      <br><br>

    <div style="background-color: green; ">.</div>
    <div style="background-color: blue; ">.</div>
    <div style="background-color: yellow; ">.</div>
    </div>

  </div>

  <script>
    const textareaElements = document.getElementsByTagName("textarea");
    textareaElements[0].classList.add(["textarea"], ["is-normal"]);
    textareaElements[0].setAttribute("rows", "15");
  </script>
  {%endblock%}
</div>